            <!-- [(ngModel)]="ingredient.name" -->
<!-- [(ngModel)]="ingredient.amount" -->

<div class="row">
  <div class="col-xs-12">

    <form #myForm="ngForm" id="shopping-list-add" (ngSubmit)="onSubmit(myForm.value)">
      <div class="row">
        <div class="col-sm-5 form-group" >
          <label for="item-name">Name</label>
          <input
            type="text"
            id="item-name"
            required
            placeholder="Name"
            name="name"
            class="form-control" 

            [ngModel]="ingredient.name"
            [ngClass]="{'an-invalid':!itemNameModel.valid}" 
            #itemNameModel="ngModel">
            <div class="an-required-msg" *ngIf="!itemNameModel.valid"><p>The item name is required</p></div>
        </div>

        <div class="col-sm-2 form-group">
          <label for="item-amount" >Amount</label>
          <input
            type="number"
            id="item-amount"
            required
            placeholder="Amount"
            name="amount"
            class="form-control"
            
            [ngModel]="ingredient.amount"
            [ngClass]="{'an-invalid':!itemAmountModel.valid}"
            #itemAmountModel="ngModel">
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!myForm.valid" *ngIf="isAdd">Add</button>
          <button class="btn btn-success" type="submit" [disabled]="!myForm.valid" *ngIf="!isAdd">Save</button>
          <button class="btn btn-danger" type="button" *ngIf="!isAdd" (click)="onDelete()">Delete Item</button>
          <button class="btn btn-primary" type="button" *ngIf="!isAdd" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>

  </div>
</div>
