<h3>Please sign up to use all features</h3>
        <form #myForm="ngForm" (ngSubmit)="onSignup(myForm.value)">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input name="email" type="email" 
                id="email" #email class="form-control" ngModel
                required>
                <span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail address</span>
        
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" 
                type="password" id="password" class="form-control"
                ngModel required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input name="confirmPassword" 
                type="password" 
                id="confirm-password" 
                #confirmPassword class="form-control" ngModel>
                <span *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</span>
            </div>
            <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Sign Up</button>
        </form>
