<h3>Please sign up to use all features</h3>
        <form #myForm="ngForm" (ngSubmit)="onSignin(myForm.value)">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input name="email" type="email" id="email" class="form-control"
                ngModel required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" 
                type="password" id="password" class="form-control"
                ngModel required>
            </div>
            <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Sign In</button>
</form>
